@font-face {
    font-family: 'Balqis Script';
    font-style: normal;
    font-weight: normal;
    src: local('Balqis Script'), url('Balqis.woff') format('woff');
    }

.panier-symb1{
    width: 20px;
    height:auto;
    
}
.list-unstyled{
margin-top: 8em;
}
.search{
    margin-right: 9em;
}
.navbar, .navbar-expand-lg, .navbar, .navbar-dark, .bg-dark{
    background-color: rgb(0, 0, 0);

}

.brand{
    font-family: 'stalemate', cursive;
    font-size: 42px;
    color: White;
    padding-right : 1em;
    text-decoration: none;
    padding-left: 0.2em;
}
.nav-item{
    font-family: "OakesGroteskBold";
    font-size: 20px;
    padding-left: 1em;
}
.button {
        width: auto;
        height: 38px;
        float: right;
        padding: 5px 20px 3px ;
        border: 2px solid white;
        background-color: rgb(0, 0, 0);
        color: white;
        font-size: 12px;
        text-transform: uppercase;
        font-family: "OakesGroteskBold";
        -webkit-transition: 0.3s;
        transition: 0.3s;
        letter-spacing: 2px;
        margin-left: 1.5em;
}
.button:hover{

    background-color: White;
    cursor: pointer;
    color: black;
}
.buttonCom {
    width: auto;
    height: 38px;
    float: right;
    padding: 5px 20px 3px ;
    border: 2px solid white;
    background-color: rgb(43, 146, 3);
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-family: "OakesGroteskBold";
    -webkit-transition: 0.3s;
    transition: 0.3s;
    letter-spacing: 2px;
    margin:3em;

}
.buttonCom:hover{

background-color: rgb(115, 253, 127);
cursor: pointer;
color: black;
}

.buttons2{
    margin: 1em;
}
.buttons1{
    display: none;
}

.Down {
font-family: "OakesGroteskBold";
font-size: 15px;
text-align: center;
bottom: 0;
}
.carbon-img{
    float:left;
    height: 14px;
    margin-right: 0.5em ;
}
.carbon{
    float: right;
}
.carbonAndImg{
    display: inline-block;
    white-space: nowrap;
    margin-top: 2em;
    margin-bottom: 1em;
}
.Brand1{
    font-family: 'stalemate', cursive;
    font-size: 20px;
    color: black;
    padding-right : 0.7em;
    text-decoration: none;
    padding-left: 0.2em;
    font-weight: bold;
}
.avis{

color: white;
padding :3em;
margin:9em;
border-radius: 10px;

           }
.ul-avis{
    display: flex;
    list-style-type: none;
        
}
.container {
    margin:3em;
  
}
.li-avis {
    margin: 0 1em;
            background-color: #222222;
            text-align: center;
            padding: 2em 1em;
            width: 80%;
       
            border-radius: 1em;
}


.img-portrait{
     width: 5em;
     height: 5em;
     border: 5px solid #222222;
     border-radius: 50%;
     margin-top: -5em;

   } 




.myimg{
    border-radius: 23px;
height: 20em;
width: 30em;
object-fit:cover;
}
.origine{
    font-size:35px;
    font-weight: bold;
}
.section {
    border-radius: 10px;
    padding: 25px;
    background-color: #EEEEEE;
    margin:25px;
    margin-top:50px;
}

.name{
    padding: 30px;
    font-weight: bold;
}
.Disponible {
    color: green;
}

.Undisponible{
    color: red;
}
.media-body{
    font-size: 23px;  
    padding-left: 30px;
}
.media{
    padding-bottom: 30px;
}
.titles{
    font-weight: bold;
     padding-top: 7em;
}
.signUp{
    background-color: #EEEEEE;
    margin:3%;
    padding:200px;
    text-align: center;
}
.buttonSign{width: auto;
    height: 38px;
    float: center;
    padding: 5px 20px 3px ;
    border: 2px solid white;
    background-color: rgb(43, 146, 3);
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-family: "OakesGroteskBold";
    -webkit-transition: 0.3s;
    transition: 0.3s;
    letter-spacing: 2px;
    margin:3em;

}
.buttonSign:hover{

background-color: rgb(115, 253, 127);
cursor: pointer;
color: black;
}

.text-white {
 margin-bottom: 0px;
 padding-left: 0px;
 padding-top: 4px;
}

